.nav-container {
  display: flex;
  justify-content: space-between;
}

.neuralink-logo {
  height: 7rem;

  stroke: #fff;
}

.nav-links-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: right;
}
.nav-links {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 425;
  text-transform: uppercase;
}

.nav-links:after {
  content: "";
  position: absolute;

  height: 2px;
  width: 0;
  left: 110px;
  bottom: 9px;
  transition: 0.3s;
}
.nav-links:after {
  background-color: #fff;
}

.nav-links:hover:after {
  width: 15%;
}
