.hero-cta-box {
  display: flex;
  border-top: 2px solid #fff;
  padding: 2.5rem;
  padding-left: 0;

  gap: 2rem;

  max-width: 52rem;
}

.aux-cta-box {
  display: flex;
  gap: 1rem;
  margin-right: 4rem;
  white-space: nowrap;

  justify-content: center;
  align-items: center;

  position: relative;
}
.aux-cta-box:hover .arrow-icon {
  animation: both 1.5s none ease-in-out infinite;
}

.global-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
}

.arrow-icon {
  position: absolute;
  top: 30%;
  left: 110%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
}

.global-link {
  cursor: pointer;
}
